.parent:hover .child {
  background-color: #fff;
}
.child {
  transition: all ease 100ms;
}
.swiper-pagination-bullet {
  height: 4px;
  background-color: #fff !important;
  opacity: 1;
  border-radius: 0px;
  margin: 0 !important;
}
.swiper-pagination-bullet:first-of-type {
  border-radius: 20px 0 0 20px;
}
.swiper-pagination-bullet:last-of-type {
  border-radius: 0 20px 20px 0;
}
.swiper-pagination-bullet-active {
  background-color: #ff5f1f !important;
  width: 20px !important;
}
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, -2px);
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: 100%;
}

.scroll-to-top {
  background-color: #ff5f1f !important;
  border-radius: 50% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 111 !important;
  width: 30px !important;
  height: 30px !important;
}
